    {% load static %}

    <header class="header">
        <div class="main-visual">Difficulty Analysis</div>
        <section class="nav-section">
            <h1 class="header-logo"><img src="{% static '/images/logo.png' %}" alt=""></h1>
            <nav class="gnav">
                <ul class="gnav-list">
                    <li><a href="">Menu1</a></li>
                    <li><a href="">Menu2</a></li>
                    <li><a href="">Menu3</a></li>
                    <li><a href="">Menu4</a></li>
                    <li><a href="">Menu5</a></li>
                </ul>
            </nav>
        </section>
    </header>