<div class="menu">
    <ul class="menu-contents">
        <li class="contents-left">
            <div class="menu-logo">
                {% load static %}
                <img src="{% static 'logo.png' %}" />
            </div>
        </li>
        <li class="contents-right">
            <ul class="menu-text">
                <li>
                    <div class="menu-text">
                        <a href="http://about.html">Menu1</a>
                    </div>
                </li>
                <li>
                    <div class="menu-text">
                        <a href="http://about.html">Menu2</a>
                    </div>
                </li>
                <li>
                    <div class="menu-text">
                        <a href="http://about.html">Menu3</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>