.footer {
    color: #fff;
    background: #FFEC00;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

.footer-inner .section {
    width: 33.33%;
    border-right: solid 1px #979797;
    box-sizing: border-box;
}

.footer-inner .section:last-of-type {
    border-right: none;
}

.footer .section.address {
    line-height: 1.2;
    letter-spacing: 0.1em;
}

.footer .section.address a {
    color: #fff;
}

.footer .section.address .company-name {
    margin-bottom: 60px;
    line-height: 1.2;
    font-style: normal;
}

.footer .section.address .name.short {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 72px;
}

.footer .section.address .name.full {
    font-size: 24px;
}

.footer .section.address .address {
    margin-bottom: 20px;
    font-size: 20px;
}

.footer .section.address .tel {
    font-size: 24px;
    margin-bottom: 15px;
}

.footer .section.address .mail {
    font-size: 24px;
}

.footer .section.contact {
    position: relative;
    text-align: center;
}

.footer .section.link {
    padding-left: 67px;
}

.footer .section.link .title {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 36px;
}

.footer .section.link .btn-sns-block {
    display: flex;
    margin-bottom: 40px;
}

.footer .section.link .btn-sns-block .btn-wrap {
    margin-right: 34px;
}

.footer .section.link .btn-sns-block .btn-wrap:last-child {
    margin-right: 0;
}

.footer .section.link .btn-sns-block .btn-wrap img {
    width: 64px;
    height: 64px;
}

.footer .section.link .btn-wrap.doorkeeper {
    margin-bottom: 22px;
}

.footer .section.link .btn-wrap.doorkeeper img {
    width: 285px;
}

.footer .section.link .link-block {
    display: flex;
}

.footer .section.link .btn-wrap.connpass {
    margin-right: 26px;
}

.footer .section.link .btn-wrap.connpass img {
    width: 190px;
}

.footer .section.link .btn-wrap.peatix img {
    width: 175px;
}
