{% extends "base.html" %}

{% block title %}
Difficulty Analysis
{% endblock %}

{% block metadata %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'difficulty_analysis/index.css' %}">


{% endblock %}


{% block content %}
    <main class="content">

        <li>
            <a class="btn" href="{% url 'difficulty_analysis:vocabularies' %}">語彙/単語 一覧</a>
        </li>
        <li>
            <a class="btn" href="{% url 'difficulty_analysis:sentences' %}">文章 一覧</a>
        </li>


    </main>
{% endblock %}