{% extends "base.html" %}

{% block title %}
Sentences
{% endblock %}

{% block metadata %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'difficulty_analysis/index.css' %}">
{% endblock %}


{% block content %}
    <main class="content">

        <table>
            <thead>
            <tr>
                <th>タイトル</th>
                <th>テキスト</th>
                <th>メモ</th>
                <th>作成日</th>
            </tr>
            </thead>
            <tbody>
                {% for sentence in sentences %}
                    <tr>
                    <td>{{ sentence.title |truncatechars:20 }}</td>
                    <td>{{ sentence.text |truncatechars:20 }}</td>
                    <td>{{ sentence.memo |truncatechars:20 }}</td>
                    <td>{{ sentence.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}