{% extends "base.html" %}

{% block title %}
Vocabulary
{% endblock %}

{% block metadata %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'difficulty_analysis/index.css' %}">
{% endblock %}


{% block content %}
    <main class="content">

        <table>
            <thead>
            <tr>
                <th>単語</th>
                <th>難易度</th>
                <th>作成日</th>
            </tr>
            </thead>
            <tbody>
                {% for vocabulary in vocabularies %}
                    <tr>
                    <td>{{ vocabulary.word }}</td>
                    <td>{{ vocabulary.level }}</td>
                    <td>{{ vocabulary.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}